.page-header {
  &__logo {
    transition: opacity .5s $customTimeFunc .5s, transform .5s $customTimeFunc .5s;
  }

  &__menu {
    transition: opacity .5s $customTimeFunc .8s;

    a {
      &::after {
        transition: width 0.3s ease;
      }

      &.active {
        &::after {
          transition: width 0.3s ease 1s;
        }
      }
    }
  }
}

.btn {
  transition: color .5s;

  &::before {
    transition: width .5s, opacity .2s;
  }
}

.social-block {
  &__toggler {
    transition: color .4s ease, outline .4s ease;

    &::before {
      transition: width .4s ease, height .4s ease, border-color .4s ease;

      .page--loaded & {
        animation: socialBlockToggler .5s cubic-bezier(.25, .15, .36, 1.3) 1s backwards;
      }
    }
  }

  &__list {
    transition: opacity .4s ease;

    li {
      transition: opacity .4s ease, transform .4s ease;
    }
  }
}

.screen {
  &__footer {
    transition: transform .5s $customTimeFunc;
  }
}

.intro__message {
  animation: fadeInBottom .4s ease 1.5s backwards;
}

.intro__label {
  animation: fadeIn .4s ease 2s backwards;
}

.slider {
  &__item {
    &-text {
      .swiper-slide-active.swiper-slide-visible & {
        transition: opacity .7s ease .3s, transform .7s ease .3s;
      }

      .swiper-slide-next.swiper-slide-visible & {
        transition: opacity .7s ease .5s, transform .7s ease .5s;
      }
    }
  }
}

.form {
  &__field {
    animation: maxWidth 1s ease backwards;
  }
}

.screen--filling {
  &::after {
    transition: height .6s ease;
  }

  &.screen--story {
    .slider {
      transition: opacity .2s ease, transform .2s ease;
    }
  }
}

.rules {
  &__item {
    &::before {
      transition: color .2s, transform .3s $customTimeFuncOver;
    }

    p {
      transition: opacity .5s, transform .3s;
    }

    &:nth-child(1) {
      &::before {
        transition-delay: .1s, .0s;
      }

      p {
        transition-delay: .2s;
      }
    }

    &:nth-child(2) {
      &::before {
        transition-delay: .3s, .2s;
      }

      p {
        transition-delay: .4s;
      }
    }

    &:nth-child(3) {
      &::before {
        transition-delay: .5s, .4s;
      }

      p {
        transition-delay: .6s;
      }
    }

    &:nth-child(4) {
      &::before {
        transition-delay: .7s, .6s;
      }

      p {
        transition-delay: .8s;
      }
    }
  }

  &__link {
    transition-delay: 1.2s;

    &::before {
      transition-delay: 1s;
    }
  }
}

.result__image {
  &--leaf-left {
    animation: resultImageLeafLeft 3s ease-out backwards .3s;
  }

  &--leaf-right {
    animation: resultImageLeafRight 3s ease-out backwards .3s;
  }

  &--leaf-green {
    animation: resultImageLeafGreen 3s ease-out backwards .3s;
  }

  &--suitcase {
    animation: resultImageSuitcase .3s ease-out backwards;
  }

  &--flamingo {
    animation: resultImageFlamingoShow .3s ease-out backwards, resultImageFlamingoFly 1.4s infinite alternate ease-in-out .3s;
    transform-origin: 38% 68%;
  }
}